<h2>Add a cocktail</h2>

<form action="/process-cocktail/{{cocktailItem._id}}" method="POST">
  <div>
    <label>
      Drink Name:
      <input type="text" name="strDrink">
    </label>
  </div>

  <div>
    <label>
      Ingredients and Measures:
      <div>
        <input type="text" name="strIngredient1" placeholder="Ingredient">
        <input type="text" name="strMeasure1" placeholder="Measure">
      </div>

      <div>
        <input type="text" name="strIngredient2" placeholder="Ingredient">
        <input type="text" name="strMeasure2" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient3" placeholder="Ingredient">
        <input type="text" name="strMeasure3" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient4" placeholder="Ingredient">
        <input type="text" name="strMeasure4" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient5" placeholder="Ingredient">
        <input type="text" name="strMeasure5" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient6" placeholder="Ingredient">
        <input type="text" name="strMeasure6" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient7" placeholder="Ingredient">
        <input type="text" name="strMeasure7" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient8" placeholder="Ingredient">
        <input type="text" name="strMeasure8" placeholder="Measure">
      </div>

      <div class="new-field">
        <input type="text" name="strIngredient9" placeholder="Ingredient">
        <input type="text" name="strMeasure9" placeholder="Measure">
      </div>

      <div>
        <a class="add-field">Add more ingredient</a>
      </div>

    </label>

  </div>

  <label>
    Instructions:
    <div>
      <input type="text" name="strInstructions">
    </div>
  </label>

  <label>
    Created by:
    <input type="text" name="userCreated" default="true">
  </label>

  <button> Add it </button>
</form>