<h2>Edit your cocktail </h2>
<form action="/mycocktails/{{}}/process-edit" method="POST">

  <div>
    <label>
      Drink Name:
      <input type="text" name="strDrink" value="{{}}">
    </label>
  </div>



  <button>Save</button>
</form>