<div class="flexbox">
  <div class="containerIngredient">
    {{#each ingredArray}}


    <form action="/process-bar" method="POST">
      <button name="ingredient" value="{{this}}">{{this}}</button>
    </form>

    {{/each}}
  </div>


  <div class="containerIngredient">

    {{#each userIngredientsArray}}


    <form action="/process-bar-remove" method="POST">
      <button name="ingredient" value="{{this}}">{{this}}</button>
    </form>

    {{/each}}</div>
</div>