// background blue: #282d4f
// dark purple : #23103a
// pink : #a0204c
// orange: #ff6c00

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
