// background blue: #282d4f
// dark purple : #23103a
// pink : #a0204c
// orange: #ff6c00

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Lobster", cursive;
}

a {
  color: #00b7ff;
}

.navdiy {
  font-family: "Lobster", cursive;
}

h2 {
  margin: 5%;
}

button {
  background-color: #ff6c00;
  color: white;
  padding: 5px;
  border-radius: 12px;
  border-style: 0;
}

.div-marg {
  margin: 2% 5%;
}

.red {
  color: red;
}

.green {
  color: green;
}

.multi-col {
  text-align: center;
  column-width: 20em;
}

.tag {
  margin-bottom: 15px;
  break-inside: avoid;
  background-color: #282d4f;
  color: white;
  padding: 10px 0;
}

.shadow {
  text-shadow: 2px 2px #ff6c00;
  // background-color: #282d4f;
}
