// background blue: #282d4f
// dark purple : #23103a
// pink : #a0204c
// orange: #ff6c00

body {
  // padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Lobster", cursive;
  // background-color: #ff6c00;
  background-image: url("../images/shakeshakebackground.jpg");
}

a {
  color: #00b7ff;
}

.navbar-custom {
  font-family: "Lobster", cursive;
  background-color: #282d4f;
  color: #fff;
}

.nav-link-custom {
  color: #fff;
}

.img-nav {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}

.img-drink {
  height: 40%;
  width: 40%;
  border-radius: 50%;
  padding: 5%;
  // border: 1px solid #ff6c00;
}

h2 {
  margin: 3%;
}

button {
  background-color: #ff6c00;
  color: white;
  padding: 5px;
  border-radius: 12px;
  border-style: 0;
}

.div-marg {
  margin: 2% 5%;
}

.orange {
  color: #ff6c00;
}

.title {
  color: white;
  text-shadow: 2px 2px #282d4f;
}

.multi-col {
  text-align: center;
  column-width: 20em;
  margin: auto;
  padding: 20px;
}

.tag-blue {
  margin-bottom: 15px;
  break-inside: avoid;
  background-color: #282d4f;
  color: white;
  padding: 10px 10px;
  border-radius: 2px;
  border: 1px solid #ff6c00;
}

.tag-pink {
  margin-bottom: 15px;
  break-inside: avoid;
  background-color: #a0204c;
  color: white;
  padding: 10px 10px;
  border: 1px solid #ff6c00;
}

.shadow-title {
  text-shadow: 2px 2px #ff6c00;
  box-shadow: none;
}

.font-light {
  font-family: "Bad Script", cursive;
  font-size: 1em;
}

.flexbox {
  display: flex;
}

label {
  color: white;
}

hr {
  border-top: 1px solid #ff6c00;
  width: 20%;
}

.ingred-measure {
  margin-block-end: 0;
  font-size: 0.9em;
}

input {
  font-family: "Bad Script", cursive;
  font-size: 0.8em;
  width: 60%;
  opacity: 0.8;
  border-radius: 1em;
  text-align: center;
}
