<h2>The cocktail you are looking for:</h2>


<h3>{{drinkItem.strDrink}}</h3>

<b>Ingredients: </b>
<ul>
  {{#each drinkItem.strIngredMeasure}}
  <li>
    {{this.Ingred}}
  </li>
  {{/each}}
</ul>

<b>Measure:</b>
<ul>
  {{#each drinkItem.strIngredMeasure}}
  <li>
    {{this.Measure}}
  </li>
  {{/each}}
</ul>
<b>Instructions</b>

<p>{{drinkItem.strInstructions}}</p>