<h2 class="d-flex justify-content-center text-center">Search for your favorite cocktai!</h2>


<div class="d-flex justify-content-center">
  <form action="/search-result-drink" method="GET">
    <label>by Name</label>
    <input type="text" name="search_query">
    <button>Find my cocktail!</button>
  </form>
</div>

<div class="d-flex justify-content-center">
  <form action="/search-result-ingred" method="GET" id="ingred-list">
    <label>by Ingredients</label>

    <input list="cocktails" type="text" name="search_query" placeholder="Enter your first ingredient">

    <datalist id="cocktails">

      {{#each ingredArray}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>


    <input list="cocktails" type="text" name="search_query" placeholder="Enter your second ingredient">

    <datalist id="cocktails">
      {{#each ingredArray}}
      <option value="{{this}}"></option>
      {{/each}}
    </datalist>


    <button>Find my cocktail!</button>

  </form>
</div>