<h2 class="d-flex justify-content-center text-center">Search for your favorite cocktai!</h2>


<div class="d-flex justify-content-center">
  <form action="/search-result" method="GET">
    <label>by Name</label>
    <input type="text" name="search_query">
    <button>Find my cocktail!</button>
  </form>
</div>