<h2>Search for your favorite cocktai!</h2>

<form action="/search-results" method="GET">
  <input type="text" name="strDrink" placeholder="What are you looking for">
  <button>Find my cocktail!</button>
</form>