<h2 class="d-flex justify-content-center text-center">The cocktail you are looking for:</h2>


<h3 class="d-flex justify-content-center text-center">{{drinkItem.strDrink}}</h3>

<div class="d-flex justify-content-center">
  <div class="div-marg">
    <pclass="text-center"><b>Ingredients: </b></p>

      {{#each drinkItem.strIngredMeasure}}
      <p>
        {{this.Ingred}}
      </p>
      {{/each}}

  </div>

  <div class="div-marg">
    <p class="text-center"><b>Measure:</b></p>

    {{#each drinkItem.strIngredMeasure}}
    <p>
      {{this.Measure}}
    </p>
    {{/each}}

  </div>
</div>

<div>
  <h3 class="d-flex justify-content-center text-center">Instructions</h3>

  <p class="text-center">{{drinkItem.strInstructions}}</p>
</div>